<%- include('../includes/header.ejs') %>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <article class="speakerslist maincontent">
        <h1 class="speakerslist-title"><%= golfer.title %></h1>
        <div class="speakerslist-name">
          with
          <a href="/golfers/<%= golfer.shortname %>"><%= golfer.name %></a>
        </div>
        <p class="speakerslist-info mt-2">
          <a href="/golfers/<%= golfer.shortname %>"> </a>
          <img
            class="speakerslist-img img-fluid"
            src="/images/<%= golfer.shortname %>.jpg"
            alt="Photo of <%= golfer.name %>"
          />
        </p>

        <%- golfer.description %>
      </article>
    </div>
    <aside class="col-md-4">
      <article class="sidebar">
        <p class="sidebar-body">
          Scorecards:
        </p>
        <div class="pixgrid clearfix">
          <% scorecards.forEach(function(scorecard, key) {%>
          <img src="/images/<%= scorecard %>" alt="Scorecard_<%=key%>" />
          <%}) %>
        </div>
      </article>
    </aside>
  </div>
</div>
<%- include('../includes/footer.ejs') %>
