<%- include('../includes/header.ejs') %>

<main class="main">
  <h1>Homepage</h1>
  <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
  <div class="row top-golfers">
    <% topGolfers.forEach(function(golfer) {%>

    <div class="col-6 col-md-4">
      <h4><%= golfer.title %></h4>
      <div>
        with
        <a href="/golfers/<%= golfer.shortname %>"><%= golfer.name %> </a>
      </div>
      <p>
        <a href="/golfers/<%= golfer.shortname %>">
          <img src="/images/<%= golfer.shortname %>.jpg" alt="Photo of <%= golfer.name %> " />
        </a>
      </p>
    </div>

    <%})%>
  </div>
</main>

<%- include('../includes/footer.ejs') %>
