<%- include('../includes/header.ejs') %>

<main class="main">
  <div class="row top-golfers">
    <% topGolfers.forEach(function(golfer) {%>

    <div class="col-6 col-md-4">
      <h4><%= golfer.title %></h4>
      <div>
        with
        <a href="/golfers/<%= golfer.shortname %>"><%= golfer.name %> </a>
      </div>
      <p>
        <a href="/golfers/<%= golfer.shortname %>">
          <img src="/images/<%= golfer.shortname %>.jpg" alt="Photo of <%= golfer.name %> " />
        </a>
      </p>
    </div>

    <%})%>
  </div>
  <div class="container">
    <h2>About</h2>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
      been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
      galley of type and scrambled it to make a type specimen book. It has survived not only five
      centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
      was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
      passages, and more recently with desktop publishing software like Aldus PageMaker including
      versions of Lorem Ipsum.
    </p>
  </div>
</main>

<%- include('../includes/footer.ejs') %>
